
.pet-card {
  width: 250px;
  margin: 2em auto;
  text-align: center;
  // background-color: #006ac3;
  // border: 2px solid red;
}

.pet-header {
  justify-content: center;
  // color: #fedf01;
  // border: 2px solid orange;
}

.pet-title {
  font-size: 18px;
  font-weight: 500;
}

.pet-img {
  width: 100%;
  // border: 2px solid white;
}

.pet-cta {
  text-align: center;
  margin: 1px;
  // border: 2px solid black;
}
