
.pet-card {
  width: 250px;
  margin: 2em auto;
  text-align: center;
  background-color: #006ac3;
  border: 2px solid red;
}

.pet-header {
  text-align: center;
  color: #fedf01;
  border: 2px solid orange;
}

.pet-img {
  border: 2px solid white;
  width: 100%;
}

.pet-cta {
  text-align: center;
  margin: 1px;
  border: 2px solid black;
}
