.create-form {
  // background-color: dimgrey;
  // background-color: #fedf01;
  width: 60%;
  margin: 20px;
}
  
.pet-create {
  // background-color: grey;
  display: flex;
  flex-direction: column;
}
