<div>
  <mat-toolbar color="primary">
    <span><mat-icon>mood</mat-icon></span>

    <span>Yay, Material in Angular 2!</span>

    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <button mat-menu-item><a rel="noopener" href="/">Home</a></button>
    <button mat-menu-item><a rel="noopener" href="list">List</a></button>
    <button mat-menu-item><a rel="noopener" href="create">Create</a></button>
    <button mat-menu-item><a rel="noopener" href="sink">Kitchen Sink</a></button>
    
  </mat-toolbar>

  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>Option 1</button>
    <button mat-menu-item>Option 2</button>
  </mat-menu>
</div>

<router-outlet></router-outlet>
