<div>
  <mat-toolbar color="primary">
    <span><a class="plain" href="/"><mat-icon>home</mat-icon></a></span>
    <span class="spaced">Pet Shop Boys</span>
    <span class="example-spacer"></span>

    <button mat-raised-button color="accent"><a href="create">Create</a></button>
    
  </mat-toolbar>
</div>

<router-outlet></router-outlet>

<div>
    <mat-toolbar color="primary">
        <span>About Pet Shop Boys</span>     
    </mat-toolbar>
    <mat-toolbar color="warn">
        <span>Pet Shop Boys footer</span>     
    </mat-toolbar>
</div>